doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(meta name="viewport" content="width=device-width, initial-scale=1.0")
    title Frontend Mentor | NFT preview card component
    link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png")
    link(rel="stylesheet" href="assets/css/styles.css")
  body.page
    header.component
      a(href="#" aria-label="Read more about Equilibrium").img-box
        img.img-box__img(src="images/image-equilibrium.jpg" alt="")
        .img-box__bg
          img.img-box__icon(src="images/icon-view.svg" alt="")
      .component__content
        a(href="#").link.a5 Equilibrium #3429
        p.para.para_fw_300 Our Equilibrium collection promotes balance and calm.
        .component__row
          .component__col
            img(src="images/icon-ethereum.svg" alt="")
            span.amount 0.041 ETH
          .component__col
            img(src="images/icon-clock.svg" alt="")
            span.time-left 3 days left
        hr
        .component__row.component__row_fx-jc_start
          img.avatar-img(src="images/image-avatar.png" alt="")
          p.para.para_fs_small Creation of
            a(href="#").link
              |
              | Jules Wyvern
    footer.attribution
          p
            | Challenge by
            |
            a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor
            | .
            br
            | Coded by
            |
            a(href="https://www.frontendmentor.io/profile/HardBuffet") HardBuffet
